body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

a {
	font-size: 12px;
	color: #E15016;
	text-decoration: none;
}

img {
	border: 0;
	text-decoration: none;
}

a:hover, .spanUpdateTo:hover {
	color: #E15016;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 18px;
	display: none;
}

h3 {
	font-size: 10px;
}

.lblFontSize9 {
	font-size: 9px;
}

.lblFontSize10 {
	font-size: 10px;
}

.lblFontSize12 {
	font-size: 12px;
}

.lblFontSize14 {
	font-size: 14px;
}

.lblFontSize16 {
	font-size: 16px;
}

.lblFontSize18 {
	font-size: 18px;
}

.lblFontSize24 {
	font-size: 24px;
}

.lblFontBold {
	font-weight: bold;
}

.lblFontRed {
	color: #A7001B;
}

.lblFontColorRed {
	color: #990000;
}

.lblFontColorBlack {
	color: #000000;
}

.lblFontColorGray {
	color: #999999;
}

.lblContinuityColor {
	color: #E15016;
}

.lblBasicColor {
	color: #069134;	
}

.lblStandardColor {
	color: #B90D25;
}

.lblEnterColor {
	color: #478FBF;	
}

.lblContinuityBackgroundColor {
	background-color: #E15016;
}

.lblBasicBackgroundColor {
	background-color: #069134;	
}

.lblStandardBackgroundColor {
	background-color: #B90D25;
}

.lblEnterBackgroundColor {
	background-color: #478FBF;	
}

.lblBlackBackgroundColor {
	background-color: #000;	
}

.aUnderline {
	text-decoration: underline;
}

.lblPageTitle {
	font-size: 24px;
	color: #E15016;
}

.divPageTitle {
	padding: 20px 0 30px;
}

.divPageSubTitle {
	padding: 10px 0;
}

.frmBasics {
	font-size: 12px;
	font-style: normal;
}

/*
	
	Tableless Forms

*/

div.customContainer {
}

div.customHeader {
	/*width: 100%;*/
} 

div.customFooter {
	/*width: 100%;*/
	clear: both;
} 

div.customContent {
	float: left;
	/*width: 49%;*/
} 

div.customThridContent {
	float: left;
	/*width: 49%;*/
} 

div.customNavigation {
	float: left;
	/*width: 51%;*/
}

/*
	
	Basic Tableless Forms

*/

div#divBasicContainer {
	width: 990px;
	/*width: 1160px;*/
}

div#divBasicHeader {
} 

div#divBasicFooter {
} 

div#divBasicContent {
} 

div#divBasicNavigation {
}

/*
	
	Basic Header Tableless Forms

*/

div#divBasicHeaderContainer {
}

div#divBasicHeaderFooter {
} 

div#divBasicHeaderContent {
	width: /*520px;*/577px;
} 

div#divBasicHeaderNavigation {
	width: /*400px;*/410px;
	text-align:right;
}

/*
	
	Basic Log In Tableless Forms

*/

div.divBasicLogInContainer {
	/*width: 394px;*/
	width: 412px;
}

div.divBasicLogInHeader {
} 

div.divBasicLogInFooter {
	padding-top: 7px;
} 

div.divBasicLogInContent {
	width: 43%;
	margin: 5px 0;
} 

div.divBasicLogInNavigation {
	width: 40%;
	margin: 5px;
}

div.divBasicLogInThridContent {
	margin: 5px 0;
}

/*
	
	Main Basic Log In Tableless Forms

*/

div#divMainBasicLogInContainer {
	padding-top: 10px;
}

div#divMainBasicLogInFooter {
} 

div#divMainBasicLogInContent {
	width: 500px;
	padding-bottom: 30px;
	border-right: 1px solid #E15016;
} 

div#divMainBasicLogInNavigation {
	width: 470px;
	padding-left: 10px;
}

/*
	
	Tableless Forms - For the CSS Pop Window For log in

*/

div.infoLogInContainer {
	padding-bottom: 9px;
	margin-bottom: 3px;
	font-weight: bold;
	width: 418px;
	clear: right;
}

div.infoLogInHeader {
	/*width: 100%;*/
} 

div.infoLogInFooter {
} 

div.infoLogInContent {
	padding: 7px 5px 0;
	width: 64%;
	font-size: 12px;
    text-align: left;
	color: #FFFFFF;
} 

div.infoLogInNavigation {
	padding: 7px 0 0;
	width: 30%;
}

/*
	
	Tableless Forms - Home - index.php

*/

div#divHomeContainer {
	background-color:#000000;
}

div#divHomeFooter {
	padding-top: 4px;
}

div#divHomeContent {
	border: 1px solid #000000;
	width: 732px;
	/*height: 414px;*/
} 

div#divHomeNavigation {
}

/*
	
	Tableless Forms - Home Soutions - index.php

*/

div#divHomeSoutionsContainer {
}

div#divHomeSoutionsHeader {
	margin: 0 10px 10px;
}

div#divHomeSoutionsFooter {
}

div#divHomeSoutionsContent {
	width: 310px;
}

div#divHomeSoutionsNavigation {
	width: 310px;
}

div#divHomeSoutionsThridContent {
	width: 310px;
	padding: 0 20px;
}

/*
	
	Tableless Forms - About Us Top Quto - AboutUs.php

*/

div#divAboutUsTopContainer {
}

div#divAboutUsTopFooter {
}

div#divAboutUsTopContent {
	width: 730px;
} 

div#divAboutUsTopNavigation {
	width: 250px;
}

/*
	
	Tableless Forms - Why Plan Top Quto - WhyPlan.php

*/

div#divWhyPlanTopContainer {
}

div#divWhyPlanTopFooter {
}

div#divWhyPlanTopContent {
	width: 312px;
} 

div#divWhyPlanTopNavigation {
	margin-left: 60px;
	width: 400px;
}

/*
	
	Tableless Forms - Partners  - Partners.php

*/

div.divPartnersContainer {
	margin-top: 20px;
}

div.divPartnersFooter {
	border-bottom: 20px solid #000000;
	padding-top: 3px;
}

div.divPartnersContent {
	padding-right: 12px;
} 

div.divPartnersNavigation {
	width: /*812px;*/760px;
	text-align: left;
}

/*
	
	Tableless Forms - Soutions Pricing Display  - Soutions.php

*/

div.divPricingDisplayContainer {
}

div.divPricingDisplayFooter {
}

div.divPricingDisplayContent {
} 

div.divPricingDisplayNavigation {
	width: /*142px;*/108px;
	text-align: center;
}

/*
	
	Tableless Forms - Four Rs Product Descriptiopn  - FourRs.php

*/

div#divFourRDesContainer {
	margin-bottom: 20px;
}

div#divFourRDesFooter {
}

div#divFourRDesContent {
} 

div#divFourRDesNavigation {
	width: 744px;
	padding-top: 20px;
}

/*
	
	Tableless Forms - Four Rs Product Video and Mouse Over  - FourRs.php

*/

div#divFourRVideoContainer {
}

div#divFourRVideoFooter {
}

div#divFourRVideoContent {
	width: 610px;
} 

div#divFourRVideoNavigation {
	padding: 45px 0 0 85px;
}

/*
	
	Tableless Forms - Home Recovery  - Home.php

*/

div.divHomeRecContainer {
	text-align: left;
	font-size: 10px;
}

div.divHomeRecHeader {
	margin-bottom: 10px;	
} 

div.divHomeRecFooter {
	text-align: right;
	font-size: 12px;
	padding-top: 10px;
}

div.divHomeRecContent {
} 

div.divHomeRecNavigation {
	margin-left: 5px;
	width: 744px;
}

div#divHomeHeaderStep1 {
	border-bottom: 15px solid #069134;
}

div#divHomeHeaderStep2 {
	border-bottom: 15px solid #E15016;
}

div#divHomeHeaderStep3 {
	border-bottom: 15px solid #478FBF;
}

/*
	
	Tableless Forms - FAQ  - FAQ.php

*/

div.divFAQContainer {
}

div.divFAQFooter {
}

div.divFAQContent {
} 

div.divFAQNavigation {
	width: 500px;
	padding-top: 10px;
}

/*
	
	Tableless Forms - FAQ - Main Area  - FAQ.php

*/

div#divMainFAQContainer {
	padding: 25px 0 25px 125px;
}

div#divMainFAQFooter {
}

div#divMainFAQContent {
} 

div#divMainFAQNavigation {
	padding-top: 40px;
}

/*
	
	Tableless Forms - Assess Your Business - Contact Information - AssessYourBusiness.php

*/

div.divAssessContactContainer {
	width: 480px;
}

div.divAssessContactFooter {
}

div.divAssessContactContent {
	padding: 3px 0;
	width: 122px;
	text-align: right;
} 

div.divAssessContactNavigation {
	padding: 3px 0;
	width: 93px;
}

div.divAssessContactDivider {
	float: left;
	width: 40px;	
}

/*
	
	Tableless Forms - Assess Your Business - Scale - AssessYourBusiness.php

*/

div.divAssessScaleContainer {
}

div.divAssessScaleFooter {
	border-bottom: 15px solid #069134;
	margin-bottom: 20px;
}

div.divAssessScaleContent {
	padding-bottom: 10px;
	text-align: left;
	width: 253px;
} 

div.divAssessScaleNavigation {
	text-align: left;
	width: 253px;
	padding: 0 0 20px 27px;
}

div.divAssessScaleThridContent {
	width: 430px;
}

/*
	
	Tableless Forms - Services - Services.php

*/

div.divServicesContainer {
	margin: 18px 0;
}

div.divServicesFooter {
}

div.divServicesContent {
	padding-right: 10px;
} 

div.divServicesNavigation {
	text-align: left;
	width: 748px;
}

/*
	
	Tableless Forms for Welocme Page - Welcome.php

*/

div#divWelcomeContainer {
	margin-top: 10px;
}

div#divWelcomeFooter {

}

div#divWelcomeContent {
	width: 885px;
}

div#divWelcomeNavigation {
}

/*
	
	Tableless Forms for - Sign Up/Profile

*/

div.updateUserContainer {
}

div.updateUserHeader {
	margin: 4px 0;
} 

div.updateUserFooter {
} 

div.updateUserContent {
	width: 140px;
	padding: 3px 0;
}

div.updateUserDivider {
	float: left;
	width: 20px;
}

div.updateUserNavigation {
	width: 115px;
	padding: 3px 0;
}

div.updateUserNavigation {
	width: 205px;
	padding: 3px 0;
}

/*
	
	Tableless Forms for User Profile - Profile.php

*/

div#divUserContainer {
}

div#divUserHeader {
} 

div#divUserFooter {
	padding: 12px 0;
}

div#divUserContent {
}

div#divUserNavigation {
}

/*
	
	Tableless Forms for Print Plan - Profile.php

*/

div#divPrintPlanContainer {
	margin: 10px 0;
	width: 260px;
}

div#divPrintPlanFooter {
}

div#divPrintPlanContent {
	width: 57%;
}

div#divPrintPlanNavigation {
	width: 43%;
	text-align: right;
}

/*
	
	Tableless Forms for Sign Up - SignUp.php

*/

div#divSignUpContainer {
	padding-left: 277px;
}

div#divSignUpHeader {
} 

div#divSignUpFooter {
	padding: 12px 0;
	text-align: left;
	width: 500px;
}

div#divSignUpContent {
}

div#divSignUpNavigation {
}

/*
	
	Tableless Forms for Profile\Jumping off point for the Forms - Profile.php

*/

div#divProfileContainer {
}

div#divProfileHeader {
} 

div#divProfileFooter {
}

div#divProfileContent {
	width: 220px;
	padding: 5px;
	text-align: left;
	line-height: 15px;
	/*color: #FFFFFF;
	background-color: #000000;*/
}

div#divProfileNavigation {
	margin: 0 12px;
	width: 462px;
	text-align: left;
}

div#divProfileThridContent {
	width: 273px;
}

/*
	
	Tableless Forms for Profile\Jumping off point for the Forms - Header - Profile.php

*/

div#divHeaderProfileContainer {
}

div#divHeaderProfileFooter {
}

div#divHeaderProfileContent {
	padding-left: 5px;
	text-align: left;
	width: 830px;
}

div#divHeaderProfileNavigation {
	text-align: right;
	padding-top: 4px;
}

/*
	
	Tableless Forms for Profile\Jumping off point for the Forms - Nav - Profile.php

*/

div#divNavProfileContainer {
	margin: 10px 0;
}

div#divNavProfileFooter {
}

div#divNavProfileContent {
}

div#divNavProfileNavigation {
}

/*
	
	Tableless Forms for Profile\Jumping off point for the Forms - Thrid - Profile.php

*/

div.divThridProfileContainer {
}

div.divThridProfileFooter {
}

div.divThridProfileContent {
	padding-bottom: 3px;
}

div.divThridProfileNavigation {
	padding: 18px 3px 17px 0;
	width: 196px;
	text-align: right;
	border: 1px solid #000000;
}

/*
	
	Tableless Forms - For the CSS Pop Window For Profile Editing

*/

div.infoProfileEditingContainer {
	padding-bottom: 9px;
	margin-bottom: 3px;
	font-weight: bold;
	width: 400px;
}

div.infoProfileEditingHeader {
	/*width: 100%;*/
} 

div.infoProfileEditingFooter {
} 

div.infoProfileEditingContent {
	padding: 7px 5px 0;
	width: 64%;
	font-size: 12px;
    text-align: left;
	color: #FFFFFF;
} 

div.infoProfileEditingNavigation {
	padding: 7px 0 0;
	width: 30%;
}

/*
	
	Tableless Forms for the Store Items - Store.php

*/

div.divStoreItemContainer {
	margin-top: 15px;
}

div.divStoreItemFooter {
}

div.divStoreItemContent {
	width:300px;
}

div.divStoreItemNavigation {
	width:300px;
}

div.divStoreItemThridContent {
	width:300px;
}

/*
	
	Tableless Forms for the Administrator Assessment Deatils - AdminAssessDetail.php

*/

div.divAdminAssessContainer {

}

div.divAdminAssessFooter {
}

div.divAdminAssessContent {
	width: 660px;
	padding: 5px 0;
	border-bottom: 1px solid #000;
}

div.divAdminAssessNavigation {
	border-bottom: 1px solid #000;
	padding: 5px 0;
}

/*
	
	Tableless Forms - Insurance Inventory Title  - InsuranceInventory.php

*/

div.divInsuranceTitleContainer {
	margin: 10px 0;
}

div.divInsuranceTitleFooter {
}

div.divInsuranceTitleContent {
	/*padding-top: 6px;*/
	margin: 6px 0;
	width: 254px;
} 

div.divInsuranceTitleNavigation {
	margin: 5px 0;
}

/*
	
	Tableless Forms - Insurance Inventory Body  - InsuranceInventory.php

*/

div.divInsuranceBodyContainer {
	margin: 10px 0;
}

div.divInsuranceBodyHeader {
}

div.divInsuranceBodyFooter {
}

div.divInsuranceBodyContent {
	width: 460px;
	padding-top: 3px;
}

div.divInsuranceBodyNavigation {
}

div.divInsuranceBodyNavigation img {
	width: 250px;
	/*height: 250px;*/
}

/*
	
	Tableless Forms - Three Solutions - Standard Edition - Insurance Inventory - ThreeSs.php

*/

div#divThreeSsIIContainer {
	margin: 5px 0;
}

div#divThreeSsIIFooter {
}

div#divThreeSsIIContent {
	
} 

div#divThreeSsIINavigation {
	padding: 0 10px 10px;
	width: 530px;	
}

/*
	
	Tableless Forms - Three Solutions -  Basic/Standard Edition - ThreeSs.php

*/

div.divThreeSsBasicStdContainer {
	padding-top: 20px;	
}

div.divThreeSsBasicStdFooter {
	
}

div.divThreeSsBasicStdContent {
	margin-bottom: 15px;
} 

div.divThreeSsBasicStdNavigation {
	width: 778px;
	padding: 0 0 10px 4px;
}

/*
	
	Tableless Forms for Froms Floating Menu

*/

div#divFloatingMenuContainer {
	padding: 10px 0;
}

div#divFloatingMenuFooter {
}

div#divFloatingMenuContent {
	width: 712px;
	padding-right: 12px;
}

div#divFloatingMenuNavigation {
}

/*
	
	Tableless Forms for Froms Floating Menu - Inside

*/

div.divFloatingMenuInsideContainer {
}

div.divFloatingMenuInsideHeader {
}

div.divFloatingMenuInsideFooter {
}

div.divFloatingMenuInsideContent {
	padding: 5px;
	width: 126px;
}

div.divFloatingMenuInsideNavigation {
	padding: 5px;
}

/*
	
	Tableless Forms - For the CSS Pop Windows in Solutions

*/

div.infoSolContainer {
	padding-bottom: 9px;
	margin-bottom: 3px;
	font-weight: bold;
	width: 270px;
}

div.infoSolHeader {
	/*width: 100%;*/
} 

div.infoSolFooter {
} 

div.infoSolContent {
	padding: 7px 5px 0;
	width: 64%;
	font-size: 12px;
    text-align: left;
	color: #FFFFFF;
} 

div.infoSolNavigation {
	padding: 7px 0 0;
	width: 30%;
}

/*

	The Area that Flosts over section

*/

div.divBasicFloat {
	position: fixed !important;
	background-color: #FFFFFF;
}

div.divFloat {
	padding: 5px;
	border: 1px solid #000000;
	width: 252px;
}

div.divFloatingMenuBody {
	padding: 10px 0 8px;
	text-align: left;
}

div.divFloatingMainTitle {
	padding: 8px 0;
	margin-bottom: 8px;
	color: #FFFFFF;
	line-height: 15px;
}

/*

	The Area for Section that hidden from the User

*/

div.divBasicHide {
	display: none;
}

div.divBasicMessage {
	padding: 4px;
	line-height: 19px;
	text-align: center;
	color: #FF0000;
	display: none;
}

div.divBasicHidden {
	padding: 4px;
	display: none;
	background: #FFFFFF;
	position: absolute;
	z-index: 1001;
}

.divBasicHiddlenBackground {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 1000;
	display: none;
}

.divHiddlenBody {
    padding: 5px 3px;
    text-align: left;
	/*background-color: #f0e9cf;*/
	text-transform: none;
}

.boardBox {
	padding: 4px;
	border: 2px solid #000000;
}

a.aClose{
	color: #FFFFFF;
	text-decoration:none;
}

a.aClose:hover{
	color:#f0e8cf; 
	text-decoration:none;
}

.divClose {
    width: 57px;
}

/*

	Basic Template 
	
*/

.aHeaderFooterLinks {
	font-size: 16px;
	color: #3F3F3F;
	font-family: "Times New Roman", Times, serif;
}

.aHeaderFooterLinks:hover {
	color: #E87B50;
}

.divBasicNav {
	float: left;	
}

.divFooterImagesLinks {
	padding-top: 20px;
}

.divFooterLinks {
	padding-top: 30px;
}

/*


	Basic Template - Menu

*/

ul#navigation-1 { 
	margin:0; 
	padding:1px 0; 
	list-style:none; 
	width:100%;
	/*height:21px;*/
}

ul#navigation-1 li { 
	margin:0; 
	padding:0; 
	display:block; 
	float:left; 
	position:relative;
}

ul#navigation-1 li ul.navigation-2 { 
	margin: 0 1px; 
	padding:1px 1px 0; 
	list-style:none; 
	display:none;
	background: #000000; 
	position:absolute; 
	top:49px; 
	left:-1px;
}

ul#navigation-1 li:hover ul.navigation-2 { 
	display:block; 
}

ul#navigation-1 li ul.navigation-2 li { 
	clear:left;
	padding: 5px 0;
	width: 154px;
	border: none;
	border-bottom:1px solid #ffffff;
}

ul#navigation-1 li ul.navigation-2 li a { 
	color: #FFFFFF;
}

ul#navigation-1 li ul.navigation-2 li a:link, ul#navigation-1 li ul.navigation-2 li a:visited { 
	background:#000;
	clear:left;
	padding:4px 0;
	position:relative;
	z-index:1000; 
}

ul#navigation-1 li ul.navigation-2 li:hover a, ul#navigation-1 li ul.navigation-2 li a:active, ul#navigation-1 li ul.navigation-2 li a:hover {
	color: #E15016;
}

/*

	RSA Template
	
*/

.lblRSASubTitle {
	color: #A5539E;
	font-size: 10px;
	font-weight: bold;
}

.divRSASubTitle {
	padding: 10px 0;
}

#divRSAFooterLabel {
	text-align: center;
	padding-top: 10px;
}

#divRSAFooterLinks {
	
}

/*

	All Forms

*/

.divQuestionForms {
	padding-bottom: 10px;
}

.lblQuestion {
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
}

.lblSubQuestion {
	font-weight: bold;
	font-style: italic;
	font-size: 13px;
}

.olForms {
	padding: 0 18px;
	margin: 10px 0 0;
}

.olForms li {
	margin-bottom: 12px;
}

.olForms li input, .divQuestionForms input, .divQuestionForms textbox {
	margin-top: 10px;
}

/*

	Home - index.php

*/

#divLearnRecovery {
	padding-bottom: 3px;
}

.borderBottom20 {
	border-bottom: 20px solid #DF5016;
}

.divHomeSol {
	margin: 136px 0 0 12px;
	position: absolute;
	width: 295px;
}

#divHome {
	border-right: 5px solid #DF5016;
}

.divHomeWhyPlan {
	padding: 30px 8px 0 4px;
	width: 232px;
	float: left;
	height: 400px;
	border-right: 2px dotted #E15016;
}

.divHomeWhyPlanLinks {
	height: 38px;
	border-right: 0;
	width: 228px;
	padding: 10px 1px 10px 11px;
}

.divNoBoarder {
	border: 0 !important;
}

#divSolArePre {
	background-color: #000000;
}

.divBasicStandBuyNow {
	position: absolute;
	z-index: 25;
	padding: 152px 0 0 12px;
}

.divBasicStandLearn {
	position: absolute;
	z-index: 1;
	padding: 296px 0 0 250px;
}

#divEnterFreeBus {
	position: absolute;
	z-index: 4;
	padding: 262px 0 0 27px;
}

#divEnterLearn {
	position: absolute;
	padding: 262px 0 0 239px;
	z-index: 3;
}

/* 

	About Us - AboutUs.php

*/

#divAboutUsQuto {
	padding: 30px 0 5px;
}

/*

	Why Plan? - WhyPlan.php

*/

.divSectionFooter {
	margin-top: 20px;		
}

/*

	Solutions - Solutions.php

*/

.divBasicSolution {
	border-top: 15px solid #069134;
	margin-bottom: 15px;
	width: 990px;
}

.divStandardSolution {
	border-top: 15px solid #B90D25;
	margin-bottom: 15px;
}

.divEnterSolution {
	border-top: 15px solid #478FBF;
}

.divEnterHiddlenBody {
	padding: 7px 3px 5px;
}

/*

	Partners - Partners.php

*/

div#divPartnersBody {
	border-right: 10px solid #DF5016;
}

#divPartnersIntro {
	text-align: left;
	margin: 10px 20px 20px 0;
}

.divConnections {
	color: #FFFFFF;
	background-color: #000000;
	text-align: left;
	font-weight:bold;
	padding: 10px 0 10px 10px;
}

.divPartnersConnections {
	padding-top: 10px;
}

/*

	Contact Us - Contact.php
	
*/

#divContactBody {
	padding-right: 18px;
}

#divContactAddress {
	padding-top: 4px;
}

/*

	Thank You for Contacting - ThankYouSending.php
	
*/

#divThankYou {
	padding-left: 200px;
	width: 100%;
}

.lblThankYou {
	font-weight: bold;
	color: #000000;	
}

/*

	The Four Rs - FourRs.php

*/

.lblReduceColor {
	color: #128227;
}

.lblRespondColor {
	color: #BA0A20;
}

.lblRecoverColor {
	color: #C24614;
}

.lblRestoreColor {
	color: #29638F;
}

.lblNextStepColor {
	color: #A60015;
}

#divFourRFooter {
	padding: 44px 30px 0 0;
}

/*

	Home Recovery Planning - Home.php

*/

.lblHomeColor {
	color: #A90005;
}

/*

	FAQ - FAQ.php
	
*/

.lblFAQ {
	font-size: 16px;
	padding: 6px 0 0 6px;
}

.divFAQ {
	padding: 10px;
}

/*

	Assess Your Business - AssessYourBusiness.php

*/

#divAssessScale {
	border-bottom: 15px solid #069134;
	padding: 20px 0;
	margin-bottom: 20px;
}

/*
	
	Administrator Assessment Deatils - AdminAssessDetail.php

*/

#divAdminTotals {
	width: 675px;
	font-weight: bold;
	padding-top: 8px;
	text-align: right;
}


/*

	Profile Update - Profile.php

*/

.sectionNum {
	color:#CCCCCC;
}

.checkBoxArea {
	width: 362px;
}

.divRegBody {
	padding-left: 5px;
}

#divProfileMessage {
	padding-left: 5px;
}

/*

	Sign Up - SignUp.php

*/

#divSignUpSubmitFooter {
	margin: 4px 0 0 210px;
}

#divSignUpEditionSel {
	padding-left: 120px;
}

/*
	
	Insurance Inventory 

*/

#divUploadingImageBody {
	text-align: center;
	padding: 10px;	
}

.infoUploading {
	padding-bottom: 9px;
	font-weight: bold;
	width: 270px;
}

#divUploadingImage {
	margin-left: 300px;
}

/*

	Print - PrintPlan.php
	
*/

#divPrintPlan {
	width: 900px;
	/*border: 1px solid #000000;*/
	padding: 5px;
}

.divPrintPlanHeader {
	/*border-bottom: 1px solid #000000;*/
}

.tblIIPic {
	page-break-before: always;
}

.tdIIPicTitle {}

.tdIIPicData {
	vertical-align: top;
	width: 315px;
}

.tdIIPic img {
	width: 250px;
}

/*

	ThreeSs - ThreeSs.php
	
*/

.divStepPoint {
	padding: 10px;
	font-weight: bold;
}

.divFourRs {
	height: 430px;
}

#divSolThreeBody {
	border-right: 5px solid #DF5016;
}

#divSolThreeFooter {
	margin: 10px 0 15px;
}